<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> view product</h3>
<p><a th:href="@{/product}">
    Back to ProductList
</a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label> name</label>
        <label th:text="${product.name}"></label>


    </div>
    <div class="cusdetail">
        <label>Price</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cusdetail">
        <label>productDescription</label>
        <label th:text="${product.productDescription}"></label>
    </div>
    <div class="cusdetail">
        <label>producer</label>
        <label th:text="${product.producer}"></label>
    </div>
</div>
</body>
</html>